@mixin border-radius($border) {
  -webkit-border-radius: $border;
  -moz-border-radius: $border;
  border-radius: $border;
}

* {
  font-family: 'Roboto', sans-serif;
}

.form-actions {
  float: right;
  margin-top: 10px;
}

.container {
  @include border-radius(5px);
  background-color: #EEF1E3;
  margin: 10px auto;
  padding: 20px;
  width: 400px;
  min-height: 600px;
}

.large__btn {
  display: block;
  margin: 3px 0;
  width: 100%;
}

.right { float: right }

.address-data {
  display: block;
  margin: 10px 0;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65);
}

.button-error {
  background: rgb(202, 60, 60);
}

.button-warning {
  background: rgb(223, 117, 20);
}

.button-secondary {
  background: rgb(66, 184, 221);
}
